
.authorName{
    font-weight: 200;
    color:rgb(92, 184, 92);   
}
.imguser{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}
a:hover{
    color: #3d8b3d;
    text-decoration: underline;
}
.Timeupdated{
    color: #bbb;
    font-size: .8rem;
}
.title{
font-size: 2.2rem;
font-weight: 600;
}
.description{
    color: #434040;
    font-family: 'source serif pro',serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}
.tag{
    margin:15px 0px 3px 0px;
}
.lfloat {
    float: left;
}
.rfloat{
    float:right;
}
.clearfix:after {
        clear: both;
        content: ".";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
}
.banner{
    color: #fff;
    background: #333;
    padding: 2rem 0;
}
a {
    color: #5cb85c;
    text-decoration: none;
}
.bodydesc{
border-bottom: 2px solid black;
}
.margi{
    margin-top:5px;
}

